[dependencies]
  curl = '*'
  yq = '*'

  [dependencies.ecoscope-workflows-core]
    channel = 'https://repo.prefix.dev/ecoscope-workflows/'
    version = '0.0.28'

  [dependencies.ecoscope-workflows-ext-ecoscope]
    channel = 'https://repo.prefix.dev/ecoscope-workflows/'
    version = '0.0.28'

[project]
  channels = ['https://repo.prefix.dev/ecoscope-workflows/', 'conda-forge']
  name = 'events'
  platforms = ['linux-64', 'linux-aarch64', 'osx-arm64']

[tasks]
  [tasks.compile]
    cmd = './dev/recompile.sh --install'

  [tasks.curl-invoke]
    cmd = './dev/curl-invoke-docker.sh'

  [tasks.docker-build]
    cmd = './dev/docker-build.sh events'

  [tasks.docker-run]
    cmd = './dev/docker-run.sh events'

  [tasks.pytest-app]
    cmd = "./dev/pytest.sh events 'app'"

  [tasks.pytest-cli]
    cmd = "./dev/pytest.sh events 'cli'"

  [tasks.recompile]
    cmd = './dev/recompile.sh --update'
